@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Sussie Intl Regular';
  src: local('Sussie Intl Regular'), url(fonts/SuisseIntl-Regular.otf);
}

@font-face {
  font-family: 'Sussie Intl Medium';
  src: local('Sussie Intl Medium'), url(fonts/SuisseIntl-Medium.otf);
}

@font-face {
  font-family: 'Sussie Intl Book';
  src: local('Sussie Intl Book'), url(fonts/SuisseIntl-Book.otf);
}

@font-face {
  font-family: 'Sussie Intl SemiBold';
  src: local('Sussie Intl SemiBold'), url(fonts/SuisseIntl-SemiBold.otf);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
